[Unit]
Description=Runs gjl-transporter to move files
Wants=gjl-transporter.timer

[Service]
Type=simple
User=greyjuicelab
EnvironmentFile=/etc/profile.d/freezer_envvars.sh
#fix paths
WorkingDirectory=/home/greyjuicelab/source/Transporter/python
ExecStart=/home/greyjuicelab/source/Transporter/python/.venv/bin/python3 Transporter.py rules

[Install]
WantedBy=multi-user.target
